<%= form_for(@wiki_country) do |f| %>
  <% if @wiki_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki_country.errors.count, "error") %> prohibited this wiki_country from being saved:</h2>

      <ul>
      <% @wiki_country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alpha_2 %><br>
    <%= f.text_field :alpha_2 %>
  </div>
  <div class="field">
    <%= f.label :alpha_3 %><br>
    <%= f.text_field :alpha_3 %>
  </div>
  <div class="field">
    <%= f.label :numeric %><br>
    <%= f.number_field :numeric %>
  </div>
  <div class="field">
    <%= f.label :iso_name %><br>
    <%= f.text_field :iso_name %>
  </div>
  <div class="field">
    <%= f.label :year_added %><br>
    <%= f.number_field :year_added %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
