<p id="notice"><%= notice %></p>

<p>
  <strong>Alpha 2:</strong>
  <%= @wiki_country.alpha_2 %>
</p>

<p>
  <strong>Alpha 3:</strong>
  <%= @wiki_country.alpha_3 %>
</p>

<p>
  <strong>Numeric:</strong>
  <%= @wiki_country.numeric %>
</p>

<p>
  <strong>Iso name:</strong>
  <%= @wiki_country.iso_name %>
</p>

<p>
  <strong>Year added:</strong>
  <%= @wiki_country.year_added %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @wiki_country.domain %>
</p>

<%= link_to 'Edit', edit_wiki_country_path(@wiki_country) %> |
<%= link_to 'Back', wiki_countries_path %>
