<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @wiki_country_subdivision.country %>
</p>

<p>
  <strong>Alpha:</strong>
  <%= @wiki_country_subdivision.alpha %>
</p>

<p>
  <strong>Native name:</strong>
  <%= @wiki_country_subdivision.native_name %>
</p>

<p>
  <strong>Iso name:</strong>
  <%= @wiki_country_subdivision.iso_name %>
</p>

<%= link_to 'Edit', edit_wiki_country_subdivision_path(@wiki_country_subdivision) %> |
<%= link_to 'Back', wiki_country_subdivisions_path %>
